In [1]:
import pandas as pd 
import glob
import os
import shutil

In [3]:
cccd_dict ={
    0: 19, 
    1:0, 
    2:1, 
    3:2, 
    4: 9, 
    5: 10,
    6: 3, 
    7: 4, 
    8: 11, 
    9: 5, 
    10: 12,
    11: 6, 
    12: 7, 
    13: 8 
}

cmnd_dict = {
    0:13,
    1: 14,
    2: 5,
    3: 15,
    4: 16,
    5: 17, 
    6: 18,
    7: 6,
    8: 7,
    9: 8,
    10: 0,
    11:1,
    12: 2,
    13: 3,
    14: 4
}

In [36]:
# sample_path = 'sample'
# xls_path = 'sample/*.xls'
# new_path = 'sample_out'
# csv_path = f'{new_path}/*.csv'

output_folder = 'labels_front_cmnd_output'


def create_folder(new_path):
    if not os.path.exists(new_path):
        os.makedirs(new_path)
    else:
        shutil.rmtree(new_path)
        os.makedirs(new_path)

create_folder(output_folder)

In [34]:
path = 'labels_cccd_cmnd/labels_front_cmnd/*.txt'
output_folder = 'labels_front_cmnd_output'
for file in glob.glob(path):
    name = os.path.basename(file)
    df = pd.read_csv(file, header=None, sep = ' ')
    df = df.replace({0: cmnd_dict})
    final_path = os.path.join(output_folder, name)
    df.to_csv(final_path, index=False, header=None, sep = ' ')

In [29]:
df = pd.read_csv('labels_cccd_cmnd/labels_back_cmnd/Image_back_cmnd_1.txt', header=None, sep = ' ')
df = df.replace({0:cmnd_dict})
df
# a = 'labels_back_cccd_output'
# b = 'testing.txt'
# final_path = os.path.join(a, b)
# df.to_csv(final_path, index=False, header=None, sep = ' ')

     0      1         2      3         4
0   17  0.871  0.525000  0.090  0.070000
1    5  0.447  0.401667  0.086  0.083333
2   18  0.789  0.601667  0.174  0.076667
3   16  0.691  0.523333  0.046  0.066667
4   15  0.521  0.523333  0.046  0.066667
5   14  0.782  0.106667  0.132  0.086667
6   13  0.312  0.095000  0.100  0.076667
7    6  0.766  0.866667  0.380  0.140000
8    5  0.675  0.310000  0.526  0.093333
9    8  0.180  0.788333  0.320  0.383333
10   7  0.184  0.365000  0.332  0.410000